<div class="container mt-2 popi">
    <nav class="m-2 p-2 border border-info">
        <button (click)="handleGetAllProducts()" class="btn btn-outline-info">
            <i class="bi bi-save"></i>
            Tous les produits
        </button>
        <button (click)="getPromotedProducts()" class="btn btn-outline-info ms-2">
            <i class="bi bi-save"></i>
            Produits en promotion
        </button>
        <button *ngIf="this.authService.hasRole('ADMIN')" (click)="newProduct()" class="btn btn-outline-info ms-2">
            <i class="bi bi-save"></i>
            Nouveau produit
        </button>
    </nav>
    <ng-template #errorTemplate>
        <div class="text-danger">{{errorMessage}}</div>
    </ng-template>
    <ng-container *ngIf="products;else errorTemplate">
        <form [formGroup]="searchProductFormGroup" (ngSubmit)="handleNewReSearch()">
            <div class="input-group">
                <label class="input-group-text bg-white">Mot-clé</label>
                <input type="text" class="form-control" formControlName="keyword">
                <button class="btn btn-info"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <table class="table table table-striped">
            <thead *ngIf="this.authService.hasRole('ADMIN')">
                <tr>
                    <td><i (click)="setSelection(!selectMode)" class="btn"
                            [ngClass]="selectMode==true?'bi bi-check-square':'bi-square'"></i></td>
                    <td>
                        <select (change)="setSelection(true)" [(ngModel)]="selection" class="form-select">
                            <option value="all">Tous</option>
                            <option value="promo">Produits en promo</option>
                        </select>
                    </td>
                    <td *ngIf="selectedProducts.length>0">
                        <i class="btn btn-danger bi bi-trash ms-1" (click)="handleDeleteSelection()"></i>
                        <i class="btn btn-danger bi bi-heart-arrow ms-1" (click)="handlePromotion()"></i>
                    </td>
                </tr>
            </thead>
            <thead class="table-dark text-white">
                <tr>
                    <td></td>
                    <td>Identifiant</td>
                    <td>Nom du produit</td>
                    <td>Prix</td>
                    <td>Promo</td>
                    <td>Rendre promo</td>
                    <td>Action</td>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products">
                    <td *ngIf="this.authService.hasRole('ADMIN')">
                        <i (click)="select(p)" [ngClass]="p.selected==true?'bi bi-check-square':'bi-square'"
                            class="btn"></i>
                    </td>
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td><span *ngIf="p.promotion==true" class="bi bi-check-circle text-success"></span></td>
                    <td *ngIf="this.authService.hasRole('ADMIN')">
                        <button [ngClass]="p.promotion==true?'btn-outline-danger':'btn-outline-success'"
                            (click)="handlePromoteProduct(p)" class="btn">
                            <span>{{p.promotion==true?'Unselect':'Select'}}</span>
                        </button>
                    </td>
                    <td *ngIf="this.authService.hasRole('ADMIN')">
                        <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                        &nbsp;
                        <button (click)="handleEditProduct(p)" class="btn btn-success">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li *ngFor="let p of [].constructor(totalPages); let i=index">
                <a [class.btn-outline-danger]="i==currentPage" class="btn btn-outline-info ms-1 mt-1"
                    (click)="goToPage(i)">{{i}}</a>
            </li>
        </ul>
    </ng-container>
</div>