<div class="container mt-3 popi">
    <nav class="m-2 p-2 border border-info" *ngIf="authService.hasRole('ADMIN')">
        <button class="btn btn-outline-info" (click)="handleNewProduct()">Nouveau Produit</button>
    </nav>
    <ng-template #errorTemplate>
        <div class="alert alert-danger mt-3 text-danger">{{errorMessage}}</div>
    </ng-template>
    <div class="card" *ngIf="products; else errorTemplate">
        <div class="card-header">Liste des produits</div>
        <div class="card-body">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
                <div class="mb-3 input-group">
                    <label class="input-group-text">Mot-Clé: </label>
                    <input type="text" class="form-control" formControlName="key">
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Nom:</th>
                        <th>Prix:</th>
                        <th class="text-center">En promotion</th>
                        <th *ngIf="authService.hasRole('ADMIN')">Promotion</th>
                        <th *ngIf="authService.hasRole('ADMIN')">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}€</td>
                        <td class="text-center">
                            <i *ngIf="p.promotion == true" class="bi bi-patch-check-fill text-success"></i>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handlePromoteProduct(p)"
                                [ngClass]="p.promotion==true?'btn-outline-danger':'btn-outline-success'" class="btn">
                                <span *ngIf="p.promotion == true">Off</span>
                                <span *ngIf="p.promotion == false">On</span>
                            </button>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills ">
                <li *ngFor="let item of [].constructor(totalPages); let i=index">
                    <a (click)="goTopage(i)" [ngClass]="i==currentPage?'btn-info':'btn-outline-info'"
                        class="btn ms-1 mt-1">{{i}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>